.acolhesus-form-container {
  background: white;
  padding: 3%;
  margin-bottom: 30px;

  h3 {
    margin: 0;
    color: $dark_green;
  }

  .acolhesus-archive-title {
    color: $dark_green;
  }

  .lista-geral {
    h3 a {
      color: $dark_green;
      font-size: 20px;
    }

  } // lista-geral

  table {
    .open  { color: $green; }
    .closed { color: $red; }
  }

  h1.list-title {
    text-align: center;
    color: black !important;
  }

  .list-forms {
    font-size: 12px;
    color: $light_green;
  }
  .add-entry {

    .add_acolhesus_entry {
      background: $dark-green;
      color: white;
      &:hover {
        background: $green;
      }
    }
    //margin-bottom: 40px;
    //border-bottom: 1px solid $light_gray;
  }
} // .acolhesus-form-container

.entry-status {
  float: right;
  color: white;
  margin-right: 10px;
  min-width: 50%;
}

.lista-geral {

  .filters-wrapper {
    .welcome {
      color: black;
      text-align: center;
      margin-bottom: 20px;

      .user-name { font-weight: bolder }
    }
    .btn-wrapper {
      border-bottom: 1px solid #eee;
      margin-bottom: 30px;
      padding-bottom: 10px !important;
    }
  }

  .form-title {
    a {
      float: left;
      padding-right: 20px;
    }
  }

  .forms-info {
    padding-top: 7px;
    float: left;
    font-size: 12px;
    color: black !important;
  }

  h3 a {
    color: $dark_green;
    font-size: 20px;
  }

  .acolhesus-forms-list, .acolhesus-filtros {
    h3.form-title {
      color: white;
      background: #00b4b4;
      font-size: 15px;
      padding: 10px;
      padding-left: 30px;
      border: 0;
      margin-bottom: 5px;
    }

    .no-forms-found {
      text-align: center;
      padding: 20px 0;
      border: none;

      span.ui-icon { display: none; }
    }

    span.used_filter {
      color: gold;
      font-size: 12px;
      font-style: italic;
      float: right;
    }

    .ui-icon-circle-arrow-e,.ui-icon-circle-arrow-s {
      background-image:url('../images/ui-icons.png') !important;
    }

    .ver-todos {
      margin-bottom: 20px;
      float: left;
      width: 100%;
      border-bottom: 1px solid $light_gray;
      padding-bottom: 20px;

      a {
        float: right;
        background: $dark-green;
        color: white;
        border: none;

        &:hover {
          background: $green;
        }
      }
    }

    .entry-status { color: white; }
  }

  .logo-container {
    margin: 10px auto;
    text-align: center;

    img {
      max-width: 250px;

      &:hover {
        opacity: 0.8;
      }
    }

  }

  .acolhesus_filter_forms {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  input.filter-forms {
    background: $dark_green;
    color: white;
    text-transform: uppercase;
    border: none;
    float: left;
    margin: 10px 0 10px 0;
    text-align: center;
    //width: 100%;
    //padding: 10px 0 10px 0;

    &:hover {
      background: $green;
    }
  }

} // .lista-geral