.acolhesus-form-container {
  background: white;
  padding: 3%;
  margin-bottom: 30px;

  h3 {
    margin: 0;
    color: $dark_green;
  }

  .acolhesus-archive-title {
    color: $dark_green;
  }

  .lista-geral {
    h3 a {
      color: $dark_green;
      font-size: 20px;
    }

  } // lista-geral

  table {
    .open  { color: $green; }
    .closed { color: $red; }
  }

  h1.list-title {
    text-align: center;
    color: black !important;
  }

  .list-forms {
    font-size: 12px;
    color: $light_green;
  }
  .add-entry {
    margin-bottom: 40px;
    border-bottom: 1px solid $light_gray;
  }
} // .acolhesus-form-container

.entry-status {
  float: right;
  color: white;
  margin-right: 10px;
  min-width: 50%;
}

.lista-geral {

  .form-title {
    a {
      float: left;
      padding-right: 20px;
    }
  }

  .forms-info {
    padding-top: 7px;
    float: left;
    font-size: 12px;
    color: black !important;
  }

  h3 a {
    color: $dark_green;
    font-size: 20px;
  }

  .logo-container {
    margin: 10px auto;
    text-align: center;

    img {
      max-width: 140px;
    }

  }
}