.reports-wrapper {
  color: black;
  form.acolhesus-reports {
    border-bottom: 1px solid #eaeaea;
    width: 100%;
    float: left;
    padding-bottom: 2%;
    margin-bottom: 2%;

    .btn-wrapper {
      margin-top: 20px;
    }
  }

  .results-date {
    border-bottom: 1px solid;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }

  .report-results {
    margin-top: 2px;
    padding: 20px;
  }

  table {
    thead.reports-header {
      background: $dark_green;
      color: white;
    }

    td.matriz-cenario-question {
      width: 80%;
    }

    &.subtable {
      text-align: center;
    }
  }

  .report-footer {
    font-size: 12px;
    font-style: italic;
    border-top: 1px solid $dark_green;
    border-bottom: 1px solid $dark_green;
    padding: 10px 0 10px 0 !important;
  }
} // .reports-wrapper