.acolhesus-form-container .single input[type='submit'] {
  background: #00b4b4;
  border-color: #0b7a6f;
  float: right;
  color: white;
  border-bottom: 2px solid black;
  border-left: 1px solid black;
  /*
  width: 100%;
  text-transform: uppercase;
  padding: 15px 0;
  background: $dark_green;
  background-image: -webkit-linear-gradient(top, $dark_green, $light_green);
  background-image: -moz-linear-gradient(top, $dark_green, $light_green);
  background-image: -ms-linear-gradient(top, $dark_green, $light_green);
  background-image: -o-linear-gradient(top, $dark_green, $light_green);
  background-image: linear-gradient(to bottom, $dark_green, $light_green);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  -webkit-box-shadow: -0.8px 1px 6px #000;
  -moz-box-shadow: -0.8px 1px 6px #000;
  box-shadow: -0.8px 1px 6px #000;
  color: #ffffff;
  font-size: 20px;
  border: solid #0a767a 3px;
  text-decoration: none;
  */ }
  .acolhesus-form-container .single input[type='submit']:hover {
    background: #0a686b;
    background-image: -webkit-linear-gradient(top, #0a686b, #34d9d1);
    background-image: -moz-linear-gradient(top, #0a686b, #34d9d1);
    background-image: -ms-linear-gradient(top, #0a686b, #34d9d1);
    background-image: -o-linear-gradient(top, #0a686b, #34d9d1);
    background-image: linear-gradient(to bottom, #0a686b, #34d9d1);
    text-decoration: none; }
.acolhesus-form-container .acolhesus_basic_info_selector, .acolhesus-form-container .acolhesus_filter_forms {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 14px; }
.acolhesus-form-container .acolhesus_basic_info_selector:disabled {
  background: #eee;
  cursor: not-allowed; }
.acolhesus-form-container .fixed-meta {
  padding: 0; }
  .acolhesus-form-container .fixed-meta .field_required {
    color: #EE0000; }
  .acolhesus-form-container .fixed-meta .fixed {
    color: #a94442 !important;
    font-size: 12px !important;
    margin-top: -15px;
    display: none; }
  .acolhesus-form-container .fixed-meta div:first-child {
    padding-left: 0; }
.acolhesus-form-container .acolhesus_filter_forms {
  width: auto !important; }
.acolhesus-form-container .list-entries {
  color: white;
  float: right;
  background: #003c46; }
.acolhesus-form-container .caldera-grid .form-group {
  margin-bottom: 20px;
  padding: 2px; }
  .acolhesus-form-container .caldera-grid .form-group textarea {
    min-height: 150px; }
.acolhesus-form-container .caldera-grid.acolhesus-readonly input {
  border: none !important;
  background: white !important;
  box-shadow: none !important; }
.acolhesus-form-container .caldera-grid .caldera-forms-conditional-field div, .acolhesus-form-container .caldera-grid .caldera-forms-conditional-field div label {
  margin-left: 20px !important; }
.acolhesus-form-container .caldera-grid .cf-toggle-group-buttons.btn-group a.btn {
  padding: 3px 8px !important; }
.acolhesus-form-container .caldera-grid .radio {
  width: 100% !important; }
  .acolhesus-form-container .caldera-grid .radio input {
    opacity: 1 !important; }
.acolhesus-form-container .user-cant-see {
  text-align: center; }
.acolhesus-form-container button.cf-uploader-trigger {
  border: 1px solid;
  background: #f2f3f5; }

.single .acolhesus-form-container {
  color: black; }
  .single .acolhesus-form-container .required-acolhesus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border-color: #a94442;
    background: #F2DEDE; }
  .single .acolhesus-form-container .matriz-cenario-cities {
    width: 100%;
    font-size: 12px;
    color: black !important; }
  .single .acolhesus-form-container .caldera-grid .alert.alert-success {
    overflow: hidden;
    text-align: center; }
  .single .acolhesus-form-container .caldera-grid .cf-multi-uploader-list > ul > li .file-type {
    width: 100%; }
  .single .acolhesus-form-container span.closed-form {
    color: red;
    font-style: italic;
    font-size: 11px; }
  .single .acolhesus-form-container h3 {
    margin: 30px 0;
    border-bottom: 1px solid #003c46;
    padding-bottom: 15px; }
  .single .acolhesus-form-container #form-accordion {
    margin-top: 30px; }
    .single .acolhesus-form-container #form-accordion h3 {
      padding: 15px 30px;
      margin: 0;
      background: #003c46;
      color: white;
      font-size: 18px; }
    .single .acolhesus-form-container #form-accordion .ui-accordion-content {
      padding: 0 !important; }

.acolhesus-form-container {
  background: white;
  padding: 3%;
  margin-bottom: 30px; }
  .acolhesus-form-container h3 {
    margin: 0;
    color: #003c46; }
  .acolhesus-form-container .acolhesus-archive-title {
    color: #003c46; }
  .acolhesus-form-container .lista-geral h3 a {
    color: #003c46;
    font-size: 20px; }
  .acolhesus-form-container table .open {
    color: #0b7a6f; }
  .acolhesus-form-container table .closed {
    color: darkred; }
  .acolhesus-form-container h1.list-title {
    text-align: center;
    color: black !important; }
  .acolhesus-form-container .list-forms {
    font-size: 12px;
    color: #00b4b4; }
  .acolhesus-form-container .add-entry {
    margin-bottom: 40px;
    border-bottom: 1px solid #f2f3f5; }

.entry-status {
  float: right;
  color: white;
  margin-right: 10px;
  min-width: 50%; }

.lista-geral .form-title a {
  float: left;
  padding-right: 20px; }
.lista-geral .forms-info {
  padding-top: 7px;
  float: left;
  font-size: 12px;
  color: black !important; }
.lista-geral h3 a {
  color: #003c46;
  font-size: 20px; }
.lista-geral .logo-container {
  margin: 10px auto;
  text-align: center; }
  .lista-geral .logo-container img {
    max-width: 320px; }

/*# sourceMappingURL=acolhesus.css.map */
