.acolhesus-form-container .single input[type='submit'] {
  background: #00b4b4;
  border-color: #0b7a6f;
  float: right;
  color: white;
  border-bottom: 2px solid black;
  border-left: 1px solid black; }
  .acolhesus-form-container .single input[type='submit']:hover {
    background: #0a686b;
    background-image: -webkit-linear-gradient(top, #0a686b, #34d9d1);
    background-image: -moz-linear-gradient(top, #0a686b, #34d9d1);
    background-image: -ms-linear-gradient(top, #0a686b, #34d9d1);
    background-image: -o-linear-gradient(top, #0a686b, #34d9d1);
    background-image: linear-gradient(to bottom, #0a686b, #34d9d1);
    text-decoration: none; }
.acolhesus-form-container .acolhesus_basic_info_selector, .acolhesus-form-container .acolhesus_filter_forms {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 14px; }
.acolhesus-form-container .acolhesus_basic_info_selector:disabled {
  background: #eee;
  cursor: not-allowed; }
.acolhesus-form-container .field_required {
  color: #EE0000; }
.acolhesus-form-container .fixed.field_required {
  color: #a94442;
  font-size: 12px !important; }
.acolhesus-form-container .fixed-meta {
  padding: 0;
  margin-bottom: 20px; }
  .acolhesus-form-container .fixed-meta .fixed {
    color: #a94442 !important;
    font-size: 12px !important;
    margin-top: 5px;
    display: none; }
  .acolhesus-form-container .fixed-meta div:first-child {
    padding-left: 0; }
.acolhesus-form-container .list-entries {
  color: white;
  float: right;
  background: #003c46; }
.acolhesus-form-container .caldera-grid .form-group {
  margin-bottom: 20px;
  padding: 2px; }
  .acolhesus-form-container .caldera-grid .form-group textarea {
    min-height: 150px; }
.acolhesus-form-container .caldera-grid.acolhesus-readonly input {
  border: none !important;
  background: white !important;
  box-shadow: none !important; }
.acolhesus-form-container .caldera-grid .caldera-forms-conditional-field div, .acolhesus-form-container .caldera-grid .caldera-forms-conditional-field div label {
  margin-left: 20px !important; }
.acolhesus-form-container .caldera-grid .cf-toggle-group-buttons.btn-group a.btn {
  padding: 3px 8px !important; }
.acolhesus-form-container .caldera-grid .radio {
  width: 100% !important; }
  .acolhesus-form-container .caldera-grid .radio input {
    opacity: 1 !important; }
.acolhesus-form-container .user-cant-see {
  text-align: center; }
.acolhesus-form-container button.cf-uploader-trigger {
  border: 1px solid;
  background: #f2f3f5; }
.acolhesus-form-container button.save_for_later {
  margin-top: -60px;
  position: relative;
  z-index: 10; }
.acolhesus-form-container #acolhesus_form_anexos {
  border-bottom: 1px solid;
  width: 98%; }
  .acolhesus-form-container #acolhesus_form_anexos ul.form_attachments {
    list-style: none;
    padding: 0; }
    .acolhesus-form-container #acolhesus_form_anexos ul.form_attachments a.acolhesus-remove-file {
      color: #cf0000;
      text-decoration: none;
      border: 0; }
    .acolhesus-form-container #acolhesus_form_anexos ul.form_attachments a.acolhesus-file-name {
      font-weight: 700;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: black; }
.acolhesus-form-container .go-right-1 {
  margin-left: 50px !important; }
.acolhesus-form-container .go-right-2 {
  margin-left: 100px !important; }
.acolhesus-form-container .go-right-3 {
  margin-left: 150px !important; }
.acolhesus-form-container .go-right-4 {
  margin-left: 200px !important; }

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #003c46 !important; }

.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #003c46 !important; }

.single .acolhesus-form-container {
  color: black; }
  .single .acolhesus-form-container a.voltar-home {
    float: right;
    margin-left: 15px; }
  .single .acolhesus-form-container .acolhesus_filter_forms {
    width: auto !important;
    margin-bottom: 20px; }
  .single .acolhesus-form-container .select2-container--classic .select2-selection--multiple ul.select2-selection__rendered {
    width: 100%; }
    .single .acolhesus-form-container .select2-container--classic .select2-selection--multiple ul.select2-selection__rendered input[type='search'] {
      width: 100%; }
  .single .acolhesus-form-container .select2-container--classic.select2-container--open .select2-selection--multiple {
    border: 1px solid #003c46 !important; }
  .single .acolhesus-form-container .required-acolhesus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border-color: #a94442;
    background: #F2DEDE; }
  .single .acolhesus-form-container .matriz-cenario-cities {
    width: 100%;
    font-size: 12px;
    color: black !important; }
  .single .acolhesus-form-container .caldera-grid .alert.alert-success {
    overflow: hidden;
    text-align: center; }
  .single .acolhesus-form-container .caldera-grid .cf-multi-uploader-list > ul > li .file-type {
    width: 100%; }
  .single .acolhesus-form-container span.closed-form {
    color: red;
    font-style: italic;
    font-size: 11px; }
  .single .acolhesus-form-container h3 {
    margin: 30px 0;
    border-bottom: 1px solid #003c46;
    padding-bottom: 15px; }
  .single .acolhesus-form-container #form-accordion {
    margin-top: 30px; }
    .single .acolhesus-form-container #form-accordion h3 {
      padding: 15px 30px;
      margin: 0;
      background: #003c46;
      color: white;
      font-size: 18px; }
    .single .acolhesus-form-container #form-accordion .ui-accordion-content {
      padding: 0 !important; }

.acolhesus-form-container {
  background: white;
  padding: 3%;
  margin-bottom: 30px; }
  .acolhesus-form-container h3 {
    margin: 0;
    color: #003c46; }
  .acolhesus-form-container .acolhesus-archive-title {
    color: #003c46; }
  .acolhesus-form-container .lista-geral h3 a {
    color: #003c46;
    font-size: 20px; }
  .acolhesus-form-container table .open {
    color: #0b7a6f; }
  .acolhesus-form-container table .closed {
    color: darkred; }
  .acolhesus-form-container h1.list-title {
    text-align: center;
    color: black !important; }
  .acolhesus-form-container .list-forms {
    font-size: 12px;
    color: #00b4b4; }
  .acolhesus-form-container .add-entry .add_acolhesus_entry {
    background: #003c46;
    color: white; }
    .acolhesus-form-container .add-entry .add_acolhesus_entry:hover {
      background: #0b7a6f; }

.entry-status {
  float: right;
  color: white;
  margin-right: 10px;
  min-width: 50%; }

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #003c46 !important; }

.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #003c46 !important; }

.lista-geral .filters-wrapper .welcome {
  color: black;
  text-align: center;
  margin-bottom: 20px; }
  .lista-geral .filters-wrapper .welcome .user-name {
    font-weight: bolder; }
.lista-geral .filters-wrapper .btn-wrapper {
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
  padding-bottom: 10px !important; }
.lista-geral .form-title a {
  float: left;
  padding-right: 20px; }
.lista-geral .forms-info {
  padding-top: 7px;
  float: left;
  font-size: 12px;
  color: black !important; }
.lista-geral h3 a {
  color: #003c46;
  font-size: 20px; }
.lista-geral .acolhesus-forms-list h3.form-title, .lista-geral .acolhesus-filtros h3.form-title {
  color: white;
  background: #00b4b4;
  font-size: 15px;
  padding: 10px;
  padding-left: 30px;
  border: 0;
  margin-bottom: 5px; }
.lista-geral .acolhesus-forms-list .no-forms-found, .lista-geral .acolhesus-filtros .no-forms-found {
  text-align: center;
  padding: 20px 0;
  border: none; }
  .lista-geral .acolhesus-forms-list .no-forms-found span.ui-icon, .lista-geral .acolhesus-filtros .no-forms-found span.ui-icon {
    display: none; }
.lista-geral .acolhesus-forms-list span.used_filter, .lista-geral .acolhesus-filtros span.used_filter {
  color: gold;
  font-size: 12px;
  font-style: italic;
  float: right; }
.lista-geral .acolhesus-forms-list .ui-icon-circle-arrow-e, .lista-geral .acolhesus-forms-list .ui-icon-circle-arrow-s, .lista-geral .acolhesus-filtros .ui-icon-circle-arrow-e, .lista-geral .acolhesus-filtros .ui-icon-circle-arrow-s {
  background-image: url("../images/ui-icons.png") !important; }
.lista-geral .acolhesus-forms-list .ver-todos, .lista-geral .acolhesus-filtros .ver-todos {
  margin-bottom: 20px;
  float: left;
  width: 100%;
  border-bottom: 1px solid #f2f3f5;
  padding-bottom: 20px; }
  .lista-geral .acolhesus-forms-list .ver-todos a, .lista-geral .acolhesus-filtros .ver-todos a {
    float: right;
    background: #003c46;
    color: white;
    border: none; }
    .lista-geral .acolhesus-forms-list .ver-todos a:hover, .lista-geral .acolhesus-filtros .ver-todos a:hover {
      background: #0b7a6f; }
.lista-geral .acolhesus-forms-list .entry-status, .lista-geral .acolhesus-filtros .entry-status {
  color: white; }
.lista-geral .logo-container {
  margin: 10px auto;
  text-align: center; }
  .lista-geral .logo-container img {
    max-width: 250px; }
    .lista-geral .logo-container img:hover {
      opacity: 0.8; }
.lista-geral .acolhesus_filter_forms {
  margin-top: 5px;
  margin-bottom: 10px; }
.lista-geral input.filter-forms {
  background: #003c46;
  color: white;
  text-transform: uppercase;
  border: none;
  float: left;
  margin: 10px 0 10px 0;
  text-align: center; }
  .lista-geral input.filter-forms:hover {
    background: #0b7a6f; }

/*# sourceMappingURL=acolhesus.css.map */
